body {
    background-color: #444;
}
.frm-login {
    margin: 0 auto;
    width:  200px;
    padding-top: 2em;
}
.frm-login fieldset {
    border-width: 0;
    margin: 2rem 0;
    padding: 0;
}
.frm-login * {
    width: 100%;
    box-sizing: border-box;
}
.frm-login>fieldset>input::placeholder {
    color: lightgray;
}
.frm-login>fieldset>input {
    background-color: transparent;
    border-width: 0 0 1px 0;
    border-color: darkgray;
    color: darkgray;
    font-size: 1rem;
    margin: .3rem auto;
}
.btn-div {
    width: 100%;
    border-radius: .3rem;
    box-sizing: border-box;
    padding: 5px;
    background-color: black;
}
.entrar {
    background-color: black;
    border-radius: .3rem;
    border-color: white;
    border-width: 1px;
    color: white;
    font-weight: bolder;
    padding: .2rem 0;
}
